:root {
    color-scheme: light dark;

    --font-default:
        "Roboto",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    /**REM: BEGIN: color palette (LIGHT_MODE)*/
    --color-text-primary: #1D1B38;
    --color-text-secondary: #ffffff;

    --color-background-primary: #F5F7FA;
    --color-background-secondary: #E3E5E8;

    /**REM: (Strength & Power) */
    --color-accent-primary: #7F1D48;
    /**REM: (Energy & Motion) */
    --color-accent-secondary: #FF914D;

    /**REM: (Health & Wellness) */
    --color-success: #3AAFA9;

    /**REM: (Action & Urgency) */
    --color-call-to-action: #F2545B;

    /**REM: (Luxury & High-End Items) */
    --color-premium-highlights: #C29760;
    /**REM: END: color palette (LIGHT_MODE)*/


    /**REM: BEGIN: toast_i notification colors*/
    --color-bg-info-color: #2196F3;
    --color-txt-info-color: #fff;
    --color-accent-info-color: lime;

    --color-bg-warning-color: #FF9800;
    --color-txt-warning-color: #fff;
    --color-accent-warning-color: #f500e5;

    --color-bg-error-color: #ff3b3b;
    --color-txt-error-color: #fff;
    --color-accent-error-color: #ffd900;

    --color-bg-fatal-color: #9C27B0;
    --color-txt-fatal-color: #fff;
    --color-accent-fatal-color: #00ffe5;
    /**REM: END: toast_i notification colors*/

}

:root[data-color-theme^="dark"] {


    /**REM: BEGIN: color palette (DARK_MODE)*/
    --color-text-primary: #E0E0E0;
    --color-text-secondary: #ececec;

    --color-background-primary: #14121E;
    --color-background-secondary: #1E1A2E;

    /**REM: (Strength & Power) */
    --color-accent-primary: #E63988;
    /**REM: (Energy & Motion) */
    --color-accent-secondary: #FF6D00;

    /**REM: (Health & Wellness) */
    --color-success: #2DE2A6;
    /**REM: (Action & Urgency) */
    --color-call-to-action: #FF4F5A;

    /**REM: (Luxury & High-End Items) */
    --color-premium-highlights: #D4A373;
    /**REM: END: color palette (DARK_MODE)*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);

    -webkit-transition: 0.5s;
    transition: 0.5s
        /*REM: For visualizing boxing/outline debugging*/
        /* outline: .18rem solid lime !important; */
        /* background: rgb(0 100 0/0.1) !important; */
}

body {
    margin: auto 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

    font-family: var(--font-default);
    background-color: var(--color-background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: var(--color-text-primary);
    background-color: transparent;
}

/**REM: sample */
.banner {
    background-color: var(--color-background-secondary);
}


/* @media (prefers-color-scheme: dark) {
    :root {
        --background-color: #d66b00;
        --text-primary-color: #ffffff;
    }
} */