
#el-id-body-simple-layout {
    display: flex;
    flex-direction: column;
    padding: 0 12%;
}

#el-id-body-simple-layout
#el-id-main {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    
    #el-id-body-simple-layout {

        padding: 0 5%;
    }

}