#el-id-header-component {

    display: flex;
    flex-direction: row;

    place-items: center;
    justify-content: space-between;
}

#el-id-header-component #logo,
#el-id-header-component #logo h1 {
    display: block;
    text-decoration: none;
    width: fit-content;
}

#el-id-header-component #el-id-title-logo {
    display: flex;
    place-items: center;
    gap: 1rem;
}

#el-id-header-component .el-title-logo {
    width: 5rem;
    height: auto;
}

#el-id-header-component 
#el-id-nav {

    display: flex;
    flex-direction: row;
    gap: 1rem;
}